*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  margin: 0;
  padding: 2rem;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

header {
  display: block;
  /* clip-path: polygon(0 0, 100% 0, 100% 65vh, 0 100%); */
  height: 85vh;
}
.masthead {
  padding-top: calc(6rem + 74px);
  padding-bottom: 6rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(15, 32, 39, 0.6),
      rgba(32, 58, 67, 0.6),
      rgba(44, 83, 100, 0.6)
    ),
    url(/img/bground.jpg);
  background-size: cover;
}
.masthead .masthead-heading {
  font-size: 2rem;
  line-height: 2.75rem;
  letter-spacing: 1rem;
  font-family: "Merriweather", serif;
}
.masthead .masthead-subheading {
  font-size: 1.25rem;
  font-style: italic;
}
.masthead .masthead-avatar {
  width: 15rem;
}

@media (min-width: 992px) {
  .masthead {
    padding-top: calc(6rem + 104px);
    padding-bottom: 6rem;
  }
  .masthead .masthead-heading {
    font-size: 4rem;
    line-height: 3.5rem;
  }
  .masthead .masthead-subheading {
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .masthead .masthead-heading {
    font-size: 1.5rem;
  }
}

.poems .poems-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}
.poems .poems-item .poems-item-caption {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(251, 249, 252, 0.664);
}
.poems .poems-item .poems-item-caption:hover {
  opacity: 1;
}
.poems .poems-item .poems-item-caption .poems-item-caption-content {
  font-size: 1.5rem;
}

.poems-modal .poems-modal-title {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .poems-modal .poems-modal-title {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
.poems-modal .close {
  position: absolute;
  z-index: 1;
  right: 1.5rem;
  top: 1rem;
  font-size: 3rem;
  line-height: 3rem;
  color: #1abc9c;
  opacity: 1;
}
.page-section {
  padding: 6rem 0;
}
.page-section .page-section-heading {
  font-size: 2.25rem;
  line-height: 2rem;
}
@media (min-width: 992px) {
  .page-section .page-section-heading {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}
.featurette {
  margin-top: 2rem;
  padding-top: 3rem;
}
.featurette-heading {
  margin-bottom: 2rem;
}

.featurette-divider {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.featurette-image {
  margin-top: 5rem;
}
.lead {
  background: #fcf4ed;
  padding: 2rem;
  font-family: "Special Elite", cursive;
}
.picture {
  opacity: 0;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.picture.show {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}
.btn-info {
  background: rgb(61, 160, 102);
}
.btn {
  border-radius: 4rem;
  transition: all 0.3s ease 0s;
}
.img-shadow {
  box-shadow: 0px 1px 3.36px 0.14px rgba(0, 0, 0, 0.14);
}
.header__logo {
  border-radius: 50%;
}
.poem-box {
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}
.poem-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}
h2 {
  text-transform: uppercase;
  /* font-size: 5.4rem; */
  margin-bottom: 3rem;
  font-weight: 800;
  /* Fallback: Set a background color. */
  background-color: #ca4246;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}
h2:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  font-size: 10px;
  border: none;
  outline: none;
  background-color: rgba(61, 160, 102, 0.651);
  color: white;
  cursor: pointer;
  padding: 10px;
  /* width: 100%; */
  /* border-radius: 95%; */
}

#myBtn:hover {
  background-color: #555;
}
